.localCam {
	display: inline-block;
	top: 15px;
	right: 15px;
	float: right;
}

.localCam video {
    border: 5px solid rgb(119, 119, 119);
    outline: 0px none;
    height: 240px;
    width: 320px;
}

.remoteStreams{
	display: inline-block;
	top: 15px;
	right: 15px;
	float: left;
}